<div class="row">
  <div class="col">
  </div>

  <div class="col">
    <div class="post-container">
      <div class="post-picture">
        <% if post.picture.attached? %>
          <%= image_tag post.picture, class: "img-fluid rounded" %>
        <% end %>
      </div>
      <span class="badge badge-primary">Posted By</span> <%= User.find(post.user_id).name %><br>
      <%= distance_of_time_in_words(post.created_at, Time.now) %><%= " ago"%> <i class="fas fa-clock"></i>
    </div>
    <div class="interactions">
      <div class="likes">
        <% pre_like = post.likes.find { |like| like.user_id == current_user.id }%>
        <% if pre_like %>
          <%= link_to raw("<i class=\"far fa-thumbs-down\"></i>"), post_like_path(post, pre_like), method: :delete%>
        <% else %>
          <%= link_to raw("<i class=\"far fa-thumbs-up\"></i>"), post_likes_path(post), method: :post %>
        <% end %> <p class="text-black-50 font-italic small"><%= post.likes.count %></p>
      </div>
    </div>
    <div class="post-body container p-3 my-2 border">
      <p class="text-black-50"><%= post.body%></p>
    </div>
  </div>


  <div class="col">
  </div>
</div>






