<% @user = User.find(post.user_id) %>

<div class="row">
  <div class="col-2">
  </div>

  <div class="col mr-5">
    <div class="row">
      <div class="col">
        <div class="post-container">
          <div class="post-picture">
            <% if post.picture.attached? %>
              <%= image_tag post.picture, class: "img-fluid rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <span class="badge badge-primary">Posted By</span>
        <%= @user.name %>

      </div>
      <div class="col-2">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, class: "img-fluid" %>
        <% end %>
      </div>
      <div class="col ml-2">
        <%= distance_of_time_in_words(post.created_at, Time.now) %><%= " ago"%> <i class="fas fa-clock"></i>
        <div class="likes">
          <% pre_like = post.likes.find { |like| like.user_id == current_user.id }%>
          <% if pre_like %>
            <%= link_to raw("<i class=\"fas fa-thumbs-up\"></i>"), post_like_path(post, pre_like), method: :delete, class: "bg-blue"%>
          <% else %>
            <%= link_to raw("<i class=\"far fa-thumbs-up\"></i>"), post_likes_path(post), method: :post %>
          <% end %> <p class="text-black-50 font-italic small"><%= post.likes.count %></p>
      </div>
      </div>
      
    </div>
    <div class="post-body container p-3 my-2 border">
      <p class="text-black-50"><%= post.body%></p>
    </div>
  </div>
</div>






