<div id="post-container">
  <div id="content">
    <div id="post-info">
      <p>Created by <%= User.find(post.user_id).email %> <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</p>
    </div>
    <%= post.body %>
  </div>
  <div id="interactions">
  </div>
  <%= render 'comments/form', current_user: current_user.id, comment: Comment.new, post_id: post.id %>
  <%= render partial: "comments/comment", collection: post.comments %>
</div>