<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col">
    <% if @user.id == current_user.id %>
      <h1>Your Feed</h1>
    <% else %>
      <h1><%= @user.name %>'s Feed</h1>
    <% end %>
  </div>
</div>






<div class="container">
	<div class="row">
    <div class="profile-header-container">   
    	<div class="profile-header-img">
        <% if @user.profile_picture.attached? %>
          <%= image_tag @user.profile_picture, class: "img-circle" %>
        <% else %>
          <img class="img-circle" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-zsbDeAUd8aY%2FUS7F0ta5d9I%2FAAAAAAAAEKY%2FUL2AAhHj6J8%2Fs1600%2Ffacebook-default-no-profile-pic.jpg&f=1&nofb=1">
        <% end %>
                <!-- badge -->
                <div class="rank-label-container">
                    <span class="label label-default rank-label"><%=@user.posts.count%><%=" posts"%></span><br>
                        <% if @user.id == current_user.id %>
                          <%= link_to "Edit", edit_user_registration_path%>
                        <% end %>
                </div>
            </div>
        </div> 
	</div>
</div>















<%= render partial: "post", collection: @posts %>
<br>
<% if current_user %>
  <% if current_user.id == @user.id %>
  <div class="row">
    <div class="col">
    </div>
    <div class="col d-flex justify-content-center">
        <%=  link_to 'New post', new_user_post_path(current_user.id), class: "btn btn-primary" %>
    </div>
    <div class="col">
    </div>
  </div>
  <% end %>
<% end %>

