<!DOCTYPE html>
<html>
  <head>
    <title>Spacecrook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <div class="navbar">
        <div class="user-info">
          <% if current_user %>
            <p>Logged in as <%= current_user.email %></p>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to 'Login', new_user_session_path %>
          <% end %>
        </div>
        <div class="new-post">
          <%= link_to 'Post to your Page!', new_user_post_path(current_user.id) %>
        </div>
      </div>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
