<!DOCTYPE html>
<html>
  <head>
    <title>Spacecrook</title>
    <meta name="viewport", content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>

    <script src="https://kit.fontawesome.com/d4aeccea42.js" crossorigin="anonymous"></script>




  <body>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a class="navbar-brand nav-item" href="
                                              <% if current_user %>
                                                <%= user_posts_path(current_user.id)%>
                                              <% else %>
                                                <%= new_user_session_path %>
                                              <% end %>">
          <%= image_tag 'logo.png', class: "nav-item", width: "30px" %>
        </a>
        <% if current_user %>
          <% if User.find(current_user.id).incoming_requests.where(status: false).any? %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="<%=requests_path%>">
                  <i class="fa fa-bell">
                    <div id="request-counter">
                      <%= User.find(current_user.id).incoming_requests.where(status: false).count %>
                    </div>
                  </i>
                </a>
              </li>
            </ul>
          <% end %>
        <% end %>
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link", href="https://nh.gov">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link", href="https://nh.gov">Contact</a>
            </li>
            <% if current_user %>
            <%# weird bug here. friends button tries setting controller:devise if the path is devise/registrations%>
              <% if controller.controller_path == 'devise/registrations' %>
              <% else %>
                <li class="nav-item">
                  <%= link_to raw("<button class=\"btn btn-primary nav-link\" type=\"button\">Friends</button>"), controller: "requests", action: "friends", method: :get, user_id: current_user.id %>
                </li>
              <% end %>
            <% end %>
            <li class="nav-item">
              <% if current_user %>
                <%= link_to 'Sign Out', destroy_user_session_path, class: "nav-link", method: :delete %>
              <% else %>
                <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
              <% end %>
            </li>
            <% if !current_user %>
              <li class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <% if current_user && User.find(current_user.id).profile_picture.attached? %>
                <% end %>
              </li>
            <% end %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Links
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://github.com/leetie/spacecrook"><i class="fa fa-github"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
    </nav>
  </head>
    <div class="d-flex justify-content-center">
      <p id="notice"><%= notice %></p>
    </div>
    <%= yield %>
  </body>
</html>
